version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    volumes:
      - .:/app
    depends_on:
      - mysql_server
    links:
      - mysql_server:mysql_server

  mysql_server:
    image: mysql:8.0
    container_name: mysql_container
    restart: unless-stopped
    ports:
      - 3306:3306
    environment:
      MYSQL_DATABASE: nodeProject
      MYSQL_USER: localhost
      MYSQL_PASSWORD: test
      MYSQL_ROOT_PASSWORD: test
      SERVICE_TAGS: dev
      SERVICE_NAME: mysqldb


